*,
*::before,
*::after {
	box-sizing: border-box;

}

header {
	background-color: #fffaf7;
	text-align: left;
	position: fixed;
	z-index: 999;
	width: 100%;
	box-shadow: 0 1px 15px -10px rgba(104, 103, 103, 0.5);
  }

/*#region*/ /*all nav styles*/

h1.logo {
	margin: .5rem 0 .5rem 1rem;
  }

nav {
	background: #fffaf7;
	position: absolute;
	text-align: left;
	top: 100%;
	width: 100%;
	transform: scale(1, 0);
	transition: transform 250ms ease-in-out;
	transform-origin: top;
	border-bottom: 2px solid #ccc;
}

/*#region*/ /*nav toggle styles*/
.nav-toggle {
	display: none;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	right: 1ch;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: black;
	height: 3px;
	width: 2em;
	border-radius: 5px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 0.5rem;
}

.nav-toggle-label span::after {
	top: 0.5rem;
}

.nav-toggle:checked ~ nav {
	transform: scale(1, 1)
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 200ms;
}

/*#endregion*/
/*#region*/ /*nav link styles*/
nav a {
	opacity: 0;
	transition: opacity 150ms ease-in-out;
	font-size: 1rem;
	font-weight: bold;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {	
	margin-bottom: 1em;
	margin-left: 1rem;
}

nav li:last-child{	
	margin-bottom: 2em;
}

nav li:first-child{	
	margin-top: 0.5em;
}
/*#endregion*/
/*#endregion*/


body {
	font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
	background-color: #fffaf7;
	line-height: 1.5;
	margin: 0;
  }

main {
	max-width: 700px;
	padding: 2ch;
	margin: auto;
  }


  h2 {
	  font-size: 2em;
	  margin-bottom: 0;
  }

  time {
	color: #888;
	text-decoration: italic;
  }

.hero {
	width: 100%;
	height: 25vh;
	min-height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.hero.fish {
	background-color: #caf0f7;
}

.hero.rchicken {
	background-color: #F7E2B2;
}

.hero.orange-cake {
	background-color: #F7BDB2;
}

.hero.coco-curry {
	background-color: #BEF7E0;
}

.hero p {
	font-size: 5em;
	margin: 1%;
}
section.recipe-card {
	display: flex;
	flex-direction: column;
	justify-content: start;
}
button.whatsapp-copy {
	font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: bold;
	color: #555;
	font-size: 0.75rem;
	align-self: flex-end;
	padding: 0.75rem 0.5rem;
	border-radius: 0.35rem;
	background: #fffaf7;
	border: 2px solid #888;
	
}

button.whatsapp-copy:hover {
	background: black;
	border: 2px solid black;
	color: #fffaf7;
	transition: color 150ms ease-in-out;
}

button.whatsapp-copy:active {
	background: black;
	border: 2px solid black;
	color: #fffaf7;
	transition: color 150ms ease-in-out;
}

span.recipe-text {
	display: none;
}

main span {
	border-bottom: 0.15rem dotted rgb(170, 170, 170);
	cursor: help;
	position: relative;
}

main span:hover {
	border-bottom: 0.17rem dotted black;
}

main span.sugar {
	font-size: 0.75rem;
}

main span:hover::after {
	content: attr(data-tooltip);
	background-color: rgba(255, 255, 255, 1);
	border: 0.15rem solid rgb(58, 58, 58);
	color: black;
	font-size: 0.85rem;
	padding: 0.5em;
	width: max-content;
	border-radius: 0.4rem;
	top: -0.25rem;
	left: 50%;
	transform: translateX(-50%) translateY(-100%);
	text-align: center;
	position: absolute;
}


ul.ingredients {

	position: relative;
	
}

  ul.ingredients li,
  ol.steps li {
	  margin-bottom: .5rem;
  }

  li.optional {
	  list-style-type: "\FF0A";
	  font-style: italic;
	  color: #888;
	  margin: 0.75rem 0 0;
	  
  }

  pre {
	white-space: pre-wrap;
  }

  hr {
	margin: 2rem 0;
	color: #888;
  }

  
  a {
	color: black;
	text-decoration: none;
	outline: 0;
  }

  a:hover {
	border-bottom: 1px dotted #888;
  }
  ::selection {
	background-color: #F7E2B2;
  }

  @media (min-width: 700px){

	.hero {
		  height: 45vh;
		  
	  }

	.hero p {
		  font-size: 6em;
		  margin: 3%;
	  }
	
	h1.logo {
		margin: .5rem 0 .5rem calc(50vw - 355px);
	}

	.nav-toggle-label {
		margin-right: calc(50vw - 355px);

	}

	nav li {
		margin-left: calc(50vw - 355px);
	}
  }


  
/* Color Theme Swatches in Hex 
.Chefmoji-0-hex { color: #FFFAF7; }
.Chefmoji-1-hex { color: #D7E2F7; }
.Chefmoji-2-hex { color: #F7BDB2; }
.Chefmoji-3-hex { color: #CAF0F7; }
.Chefmoji-4-hex { color: #F7E2B2; }
.Chefmoji-5-hex { color: #BEF7E0; }
*/


/*#region*/ /*all ingredients*/

li::before{
	background-color: #fffaf7;
}

li.lemon::before {
	content: "🍋 ";
	position: absolute;
	left: 0.9rem;
}

li.fish::before {
	content: "🐟 ";
	position: absolute;
	left: 0.9rem;
}

li.oil::before {
	content: "🏺 ";
	position: absolute;
	left: 1rem;
}

li.chicken::before {
	content: "🐔 ";
	position: absolute;
	left: 0.9rem;
}

li.potato::before {
	content: "🥔 ";
	position: absolute;
	left: 0.9rem;
}

li.onion::before {
	content: "🧅 ";
	position: absolute;
	left: 0.9rem;
}

li.garlic::before {
	content: "🧄 ";
	position: absolute;
	left: 1rem;
}

li.herb::before {
	content: "🌿 ";
	position: absolute;
	left: 0.9rem;
}

li.egg::before {
	content: "🥚 ";
	position: absolute;
	left: 1rem;
}

li.sugar::before {
	content: "⬜ ";
	position: absolute;
	scale: 75%;
	left: 0.9rem;
}

li.orange::before {
	content: "🍊 ";
	position: absolute;
	left: 1rem;
}

li.grain::before {
	content: "🌾 ";
	position: absolute;
	left: 0.9rem;
}

li.nut::before {
	content: "🥜 ";
	position: absolute;
	left: 0.9rem;
}

li.tomato::before {
	content: "🍅 ";
	position: absolute;
	left: 0.9rem;
}

li.coconut::before {
	content: "🥥 ";
	position: absolute;
	left: 0.9rem;
}

li.tomato::before {
	content: "🍅 ";
	position: absolute;
	left: 0.9rem;
}

li.sweet-potato::before {
	content: "🍠 ";
	position: absolute;
	left: 0.9rem;
}

li.root::before {
	content: "🌱 ";
	position: absolute;
	left: 0.9rem;
}

li.spice::before {
	content: "🤏 ";
	position: absolute;
	left: 0.9rem;
}

li.salt::before {
	content: "🧂 ";
	position: absolute;
	left: 1.1rem;
}

li.can::before {
	content: "🥫 ";
	position: absolute;
	left: 1.1rem;
}

/*#endregion*/

